html,
body {
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  /* background-color: red; */
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  padding: 26px;
  width: 95%;
  height: 100%;
  box-sizing: border-box;
}

.filters {
  width: calc(30% - 16px);
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid #a1b8cd;
  border-radius: 5px;
  max-width: 310px;
  height: 100%;
}

.container > div:nth-child(1) {
}

.container > div:nth-child(2) {
  width: calc(70% - 16px);
}

.card {
  display: flex;
  padding: 8px;
  border: 1px solid #a1b8cd;
  border-radius: 5px;
  height: 140px;
  max-width: 920px;
  margin: 8px 4px;
}

.card-image {
  height: 100%;
  width: auto;
}

.description {
  width: 100%;
}

.actions {
  display: flex;
}

.action-icon {
  width: 25px;
  height: 25px;
  margin: 5px;
  cursor: pointer;
}

.search-container {
  display: flex;
  /* justify-content: space-between; */
}

.search-container > input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-container > button {
  width: 132px;
  height: 42px;
  margin: 8px 0;
  cursor: pointer;
  background-color: #2196f3;
  color: #fff;
  border: 2px solid #6eaee2;
  font-weight: 700;
}
