html,
body {
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  padding: 24px 0px 8px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.filters {
  width: calc(30% - 16px);
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid #a1b8cd;
  border-radius: 5px;
  max-width: 310px;
  height: 100%;
}

#filters {
  margin-right: 24px;
  width: 23%;
  overflow-y: auto;
}

#search-container {
  width: calc(77% - 24px);
  height: 100%;
}

#cards-container {
  overflow-y: auto;
  height: calc(100% - 90px);
}

.card {
  display: flex;
  padding: 8px;
  border: 1px solid #a1b8cd;
  border-radius: 5px;
  height: 140px;
  margin: 8px 4px;
  background-color: #fff;
}

.card-image {
  height: 100%;
  width: auto;
}

.description {
  width: 100%;
  padding: 0px 16px;
}

.description > p {
  margin: 0px 0px 8px;
}

.desc-title {
  font-weight: 900;
  font-size: 20px;
}

.desc-loc,
.desc-sector {
  font-weight: 700;
  width: calc(100% + 60px);
}

.desc-desc {
  color: #b9b9b9;
  width: calc(100% + 60px);
}

.actions {
  display: flex;
  height: 30px;
}

.action-icon {
  width: 20px;
  height: 20px;
  margin: 5px;
  cursor: pointer;
}

.search-container {
  display: flex;
  height: 58px;
}

input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-container > button {
  width: 132px;
  height: 42px;
  margin: 8px 0;
  cursor: pointer;
  background-color: #2196f3;
  color: #fff;
  border: 2px solid #6eaee2;
  font-weight: 700;
}
/* scroll style */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#bars-solid {
  display: none;
  position: fixed;
  width: 50px;
  cursor: pointer;
  top: 16px;
  left: 3px;
}

#times-solid {
  display: none;
}

#city-wrapper {
  display: none;
}

.filters-group > h1 {
  font-size: 21px;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    padding: 24px 24px 8px 24px;
  }
}

@media only screen and (max-width: 768px) {
  #filters {
    width: 30%;
    margin-right: 8px;
  }

  #search-container {
    width: calc(70% - 24px);
  }
  .description > p {
    margin: 0px 0px 4px;
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    padding: 12px 8px 8px 8px;
  }

  #filters {
    display: block;
    width: 100%;
    position: fixed;
    left: -311px;
    top: 10px;
    z-index: 400;
    background: #fff;
    transition: left 1s;
    overflow-x: hidden;
  }

  #search-container {
    width: 100%;
  }

  .search-container {
    padding-left: 41px;
  }

  #search-container > button {
    font-size: 12px;
  }

  .description > p {
    margin: 0px 0px 4px;
  }

  #cards-container {
    overflow-x: hidden;
  }

  .card {
    flex-direction: column;
    height: unset;
    position: relative;
  }

  .actions {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .description > p {
    margin: 4px 0px 0px;
  }

  .desc-desc {
    width: 100%;
  }

  #bars-solid {
    display: block;
    z-index: 400;
  }

  #times-solid {
    display: block;
    left: 273px;
    position: absolute;
    top: 0px;
    width: 34px;
  }
}
